<div class="contract-detail-content">
  <div class="container">
    <div class="contract-detail-content__title">
      <h1>Contract Detail</h1>
    </div>

    <div class="contract-detail-content__description" *ngIf="contractDetail">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="contract-detail-content__description__item">
            <label>Contract address</label>
            <p>{{ address }}</p>
          </div>
        </div>

        <div class="col-md-6 col-12">
          <div class="contract-detail-content__description__item">
            <label>Manager address</label>
            <p>{{ contractDetail.managerAddress }}</p>
          </div>
        </div>

        <div class="col-md-6 col-12">
          <div class="contract-detail-content__description__item">
            <label>Minimum Contribution (ETH)</label>
            <p>{{ contractDetail.minimumContribution }}</p>
          </div>
        </div>

        <div class="col-md-6 col-12">
          <div class="contract-detail-content__description__item">
            <label>Requests</label>
            <p>{{ contractDetail.requests }}</p>
          </div>
        </div>

        <div class="col-md-6 col-12">
          <div class="contract-detail-content__description__item">
            <label>Contributers</label>
            <p>{{ contractDetail.contributers }}</p>
          </div>
        </div>

        <div class="col-md-6 col-12">
          <div class="contract-detail-content__description__item">
            <label>Balance</label>
            <p>{{ contractDetail.balance }}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="contract-detail-content__description__buttons">
          <button pButton type="button" label="Contribute" class="p-button-success" (click)="openContributionModal()"></button>
          <button pButton type="button" label="Create request" (click)="openCreateRequestModal()"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contributionModal>
  <app-contribute (cancelCb)="closeContributionModal()"></app-contribute>
</ng-template>

<ng-template #createRequestModal>
  <app-create-request></app-create-request>
</ng-template>
