.contract-detail-content {
  &__title {
    padding: 3rem 0;
    h1 {
      font-size: 2rem;
      font-weight: 300;
      text-align: center;
    }
  }
  &__description {
    &__item {
      border: 1px solid #d5d5d5;
      border-radius: 3px;
      padding: 1rem;
      margin-bottom: 1rem;
      background: #eee;
      label {
        font-size: 1rem;
        font-weight: 300;
      }
      p {
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        margin-top: 0.3rem;
      }
    }
    &__buttons {
      padding-top: 1rem;
      padding-bottom: 1rem;
      button {
        margin-right: 1rem;
      }
    }
  }
  &__requests {
    margin-top: 2rem;
    margin-bottom: 5rem;
    h1 {
      font-size: 1.7rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }
    p-table {
      tr {
        td {
          font-size: 0.9rem;
          button {
            font-size: 0.8rem;
            padding: 0.5rem;
            &:nth-child(2) {
              margin-left: 0.5rem;
            }
          }
        }
        &.completed {
          background: #e1e1e1;
        }
      }
    }
  }
}
