.home-content {
  &__title {
    padding: 2rem;
    h1 {
      font-size: 2rem;
      font-weight: 200;
      text-align: center;
    }
  }
  &__create-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .table {
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 2rem 0 0 0;
    h1 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 200;
    }
  }
}
