/* You can add global styles to this file, and also import other style files */
button {
  &.p-button {
    padding: 0.5rem 1rem;
    span {
      &.p-button-label {
        font-weight: 300;
      }
    }
  }
}

form {
  .form-item {
    margin-bottom: 1rem;
    label {
      font-size: 0.9rem;
      font-weight: 200;
      margin-bottom: 0.5rem;
    }
    input {
      &.p-inputtext {
        width: 100%;
        height: 3rem;
      }
    }
    small {
      &.error {
        color: red;
        font-size: 0.7rem;
      }
    }
  }
}

p-table {
  .p-datatable-wrapper {
    padding: 0 !important;
    table {
      border: 1px solid #e6e6e6;
    }
  }
}
